<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="flaotec.KFZ_Kennzeichen"
      android:installLocation="auto" android:versionName="@string/app_version" android:versionCode="47">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name=".KFZKennzeichen"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <activity android:name="preferences" android:launchMode="standard"></activity>
    <activity android:name="UeberSeiteAnzeigen"></activity>
    <activity android:name="KFZtab"></activity>
    <activity android:name="KFZ"></activity>
    <activity android:name="LandTab"></activity>
    <activity android:name=".RueckwertsTab"></activity>
</application> 
    <uses-sdk android:minSdkVersion="3"/>
<supports-screens android:smallScreens="true" android:largeScreens="true" android:normalScreens="true"></supports-screens>



</manifest> 